* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto", sans-serif;
}
body {
  background: url(assets/bg-dark.jpeg) no-repeat top center/cover;
}

#PersonalInfo {
  border: 1px solid red;
}
#PersonalInfo img {
  height: 120px;
  border-radius: 50%;
}

h1 {
  position: absolute;
  top: 4%;
  display: inline;
  color: white;
  width: 300;
  border: 1px solid rgb(14, 247, 255);
}
