* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --main-color: white;
  --border-color: gray;
}

body {
  background: url(assets/bg-dark.jpeg) no-repeat top center/cover;
  height: 100vh;
  overflow: hidden;
}
/*personal info*/
/* elemento pai*/
#info {
  display: flex;
  width: auto;
  height: 200px;
  margin-top: 5px;
}

#img img {
  height: 120px;
  border-radius: 50%;
  margin: 10px 5px;
}
#personalData {
  color: var(--main-color);
  margin: 5px 5px;
  font-size: 20px;
}
#name {
  width: 600px;
}
#socialMedia a,
#number a,
#email a {
  text-decoration: none;
}
a {
  color: var(--main-color);
}

#socialMedia {
  height: 55px;
  display: flex;
  gap: 30px;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
#socialMedia i:hover {
  font-size: 55px;
  color: gray;
}
#socialMedia i {
  transition: 0.4s;
  font-size: 50px;
}
#insta {
  transition: 0.4s;
  font-size: 50px;
}
#insta:hover {
  font-size: 55px;
  color: gray;
}
#pinfo {
  font-size: 24px;
}

#number,
#email {
  transition: 0.5s;
}
#number:hover {
  font-size: 26px;
  color: gray;
}
#email:hover {
  font-size: 26px;
  color: gray;
}

p {
  margin-right: 15px;
  margin-top: 2px;
  color: white;
}
#education {
  color: white;
}
